body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
  background-color: #403636;
}

#table th, 
#table td {
  border: 1px solid #fff;
  padding: 10px 15px;
  text-align: center;
}

#table th {
  background-color: #474747;
  font-weight: bold;
}

#nextSession {
  font-size: 2em;
  font-weight: bold;
}
