body {
  background-color: #111;
  display: flex;
  color: #fff;
  height: 100vh;
  text-align: center;
  justify-content:  center;
  align-items: center;
}

#minutes, #seconds {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    color: #222;
    background-color: #d5d5d5;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}